<%- include('./partials/header') %>
<body>
    <div class="homepage-container">
        <div class="menu-container">
            <%- include('./partials/index/menu') %>
        </div>
        <div class="post-container">
            <%- include('./partials/index/posts') %>

        </div>
        <div class="create-topic-and-top-users-container">
            <button>+ Start a New Topic</button>
            <div>
                <h3>Top users</h3>
                <%- include('./partials/index/topusers') %> 
                <%- include('./partials/index/topusers') %> 
                <%- include('./partials/index/topusers') %> 
                <%- include('./partials/index/topusers') %> 
                <hr>
                <%- include('./partials/index/topusers') %> 
                 
            </div>
            <%- include('./partials/index/footer') %>
        </div>
    </div>
    <script src="./js/index.js"></script>   
</body>